<!DOCTYPE html>
<html>
<head>
    <title>FoodAdviser</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h2>Welcome to FoodAdviser!</h2>
    <div class="page-header">
        <h3>Registration page</h3>
    </div>
    <a class="btn btn-primary text-right" href="/user/logout" role="button">Log Out</a>

    <div class="panel-body">
        <form class="navbar-form navbar-left" method="put" action="/user/edit/<%=_id%>" enctype="application/x-www-form-urlencoded">
            <div>
                <input type="text" name="email" placeholder="Email" class="form-control" value="<%= email %>"/>
            </div>
            <div>
                <input type="password" name="password" placeholder="Password" class="form-control"/>
            </div>
            <div>
                <input type="password" name="passwordconf" placeholder="Confirm Password" class="form-control"/>
            </div>
            <div>
                <input type="text" name="username" placeholder="First Name" class="form-control" value="<%= username %>"/>
            </div>
            <div>
                <input type="text" name="age" placeholder="Age" class="form-control" value="<%= age %>"/>
            </div>
            <div>
                <input type="text" name="height" placeholder="Height" class="form-control" value="<%= height %>"/>
            </div>
            <div>
                <input type="text" name="weight" placeholder="Weight" class="form-control" value="<%= weight %>"/>
            </div>
            <div>
                <input type="text" name="cnorm" placeholder="Norm Of Calories" class="form-control" value="<%= cnorm %>"/>
            </div>
            <div>
                <button type="submit" class="btn btn-success">Update Account</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
